
<center>
<h1> Расписание хуралов на {{ month }} месяц {{ year }} г. </h1>

<h2> {{ month }} </h2>


</center>


<style>
table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }
</style>


<div id="month_h2">{{ month }}</div>

<table width="100%" border="0" aligrn="left" cellpadding="0" cellspacing="0" class="fixed">
{% for day in days_qs %}

    <col width="100px" >
    <col width="330px" />
    <tr> 
     <td style="vertical-align: top; text-align: left;" rowspan="2" width="50px" bgcolor="#FBF0DB"> 
     {{ day.day }} –
     {{ day.weekday_long }}&nbsp; {% if day.moon_day_no in f %} <small> {{ day.moon_day_no }} – лунный день  </small> {% endif %} <br />

     

     </td>
     
     <td> 10:00 – {{ day.morning_hural_str }}</td>
     <td> {{ day.morning_hural.description }}</td>
    
    </tr>
    <tr > 
     <td style="padding-bottom: 15px" width = "300px">  15:00 – {{ day.day_hural_str }}</td> <td> </td>
    </tr>

    <tr > 
    </tr>

{% endfor %}
</table>
