
<center>
<h1> Расписание хуралов на {{ month }} месяц {{ year }} г. </h1>

<h2> {{ month }} </h2>



<div id="month_h2">{{ month }}</div>

<table width="100%" border="0" aligrn="left" cellpadding="2" cellspacing="0" >
{% for day in days %}

    <tr> 
     <td > 
     {{ day.day }} –
     {{ day.weekday_long }}&nbsp; {% if day.moon_day_no in f %} <br /> <small> {{ day.moon_day_no }} – лунный день  </small> {% endif %} <br />
    </td>


     <tr> <td style="padding-bottom: 15px" width = "300px"> 10:00 – {{ day.morning_hural_str }}</td> &nbsp; <td>{{ day.morning_hural_descr }}</td> </tr>
     <tr> <td style="padding-bottom: 15px" width = "300px">  15:00 – {{ day.day_hural_str }}</td> &nbsp; <td>{{ day.day_hural_descr }}</td> </tr>
    

    </tr>
{% endfor %}
</table>
